:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme:  dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f7f1f1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  margin-top: 9px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0b1bf5;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: border-color 0.25s;
}

input {
  display: inline-flex;
  background-color: #f9f9f9;
  color: #03040f;
  font-style: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 25px;
  width: 25vw;
}

header {
  background-color: #03040f;
  color: #f9f9f9;
  width: 100%;
  height: 8vh;
  margin-bottom: 0;
  text-align: start;
  font-size: large;
  display: flex;
  align-items: center; /* Center items vertically */
  padding-left: 2%; /* Adjust as needed */
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.createform {
  flex: 0 0 100%; /* Take full width on smaller screens */
  max-width: 100%; /* Allow the form to take full width */
  padding: 20px;
}

.clientlist {
  flex: 0 0 calc(50% - 20px); /* Take up half of the width minus spacing */
  max-width: calc(50% - 20px); /* Limit the max width */
  padding: 20px;
}

.clientlist-content {
  overflow-x: auto;
}

.clientlist-item {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  padding: 0 5px;
}

.column-heading {
  display: block;
  background-color: gray;
  color: white;
  padding: 5px;
  font-weight: bold;
  margin-bottom: -1px;
}

.data-row {
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

.data-row:last-child {
  border-bottom: none;
}

@media (min-width: 768px) {
  .createform {
    flex: 0 0 calc(45% - 20px); /* Take up 45% of the width minus spacing */
    max-width: calc(45% - 20px); /* Limit the max width */
    margin-left: 20px; /* Add spacing between the form and the list */
  }

  .clientlist {
    flex: 0 0 calc(55% - 20px); /* Take up 55% of the width minus spacing */
    max-width: calc(55% - 20px); /* Limit the max width */
  }
}



nav {
  font-size: large;
  margin-left: 2%;
  font-weight: 600;
}

button:hover {
  border-color: #03040f;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (min-width: 768px) {
  .container {
    display: flex;
  }

  .clientlist,
  .createform {
    flex: 1; /* Each take half of the available space */
  }
}
