.clientlist {
  margin-top: 20px;
}

.clients-heading {
  text-align: center;
  margin-bottom: 24px;
}

.clientlist-content {
  display: flex;
  overflow-x: auto;
}

.clientlist-item {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  padding: 0 10px;
}

.column-heading {
  display: block;
  background-color: gray;
  color: white;
  padding: 5px;
  font-weight: bold;
  margin-bottom: -1px; /* Remove the extra space */
}

.data-row {
  border-bottom: 1px solid #ddd; /* Change to bottom border */
  padding: 5px;
}

/* Adjust the border for the last row */
.data-row:last-child {
  border-bottom: none;
}

@media (max-width: 768px) {
  .column {
    flex: 1 0 100%;
  }
}
