.user-list {
  margin-top: 20px;
}

.clients-heading {
  text-align: center;
  margin-bottom: 24px;
  font-size: 24px;
  color: #333;
}

.clientlist-content {
  overflow-x: auto;
}

.clientlist-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.data-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  white-space: nowrap;
  border-bottom: 1px solid black;
}


.column-heading {
  font-weight: bold;
  margin-right: 10px;
}

.actions-row {
  display: flex;
  justify-content: flex-end;
}
.actions-column button {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  font-size: inherit;
  margin-right: 5px;
  padding: 0;
  align-self: flex-start; /* Align buttons to the top of the flex container */
}


.edit-button,
.delete-button {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  margin-right: 10px;
  /* margin-bottom: 0; */
}

.edit-button:hover,
.delete-button:hover {
  text-decoration: underline;
}
