.user-list {
  margin-top: 20px;
}

.clients-heading {
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  color: #333;
  white-space: pre-wrap; 
}



.clientlist-content {
  overflow-x: auto;
}

.clientlist-item {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  padding: 0 10px;
  text-align: center;
}

.column-heading {
  background-color: #f0f0f0;
  color: #333;
  padding: 10px;
  font-weight: bold;
}

.data-row {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.data-row:last-child {
  border-bottom: none;
}

.actions-column button {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  font-size: inherit;
  margin-right: 5px;
  padding: 0;
}

.actions-column button:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .column {
    flex: 1 0 100%;
  }
}
